@font-face {
  font-family: yofont;
  src: url("/weixApp/images/iconfont/iconfont.woff") format("woff"), url("/weixApp/images/iconfont/iconfont.ttf") format("truetype");
}                           
@font-face {
  font-family: yofont;
  src: url("/weixApp/images/iconfont/iconfont-footer.woff") format("woff"), url("/weixApp/images/iconfont/iconfont-footer.ttf") format("truetype");
}