.container{
    height: 100%;
    width: 100%;
    .wrapper{
        height: 100%;
        width: 100%;
        .index-body{
            height: 100%;
            @include flexbox(flex);
            @include flex-direction(column);
            @include box-sizing(border-box);
            .index-hd{
                background: #fff;
                height: 0.44rem;
                @include flexbox(flex);
                text-align: center;
                span{
                    display: block;
                    font-size: 0.12rem;
                    &:nth-child(1){
                        @include flex(1); 
                        i{
                            font-size: 0.26rem;
                            line-height: 0.26rem;
                        }
                    }
                    &:nth-child(2){
                         @include flex(4);
                         input{
                             height: 0.3rem;
                             width: 1.8rem; 
                             margin-top: 0.04rem;
                             padding-left: 0.1rem;   
                         }
                    }
                    &:nth-child(3){
                        @include flex(1); 
                        i{
                            font-size: 0.26rem;
                            line-height: 0.26rem;
                        } 
                    }
                }
            } 
//          nav{
//              height: 0.5rem;
//              @include flexbox(flex);
//              text-align: center;
//              i{
//                  display: block;
//                  @include flex(1);
//                  line-height: 0.5rem;
//              }
//          }
//          section{
//              height: 100%;
//              width: 100% !important;
//              @include flex(1);
//              background: #007AFF;
//          }
            footer{
                background: #fff;
                height: 0.58rem;
                .ft{
                    @include flexbox(flex);
                    text-align: center; 
                    font-size: 0.14rem;
                    @include box-sizing(border-box);
                    li{
                        @include flex(1);
                        i{
                            display: block;
                            margin-top: 0;
                            line-height: 0.26rem;
                            font-size:0.26rem;
                        }
                        p{
                            margin-top: 0.07rem;
                        }
                    } 
                }
            }
        }
    }
}
